muic-select {
    position: relative;
}

/* Options */
.muic-select-options-container {
    position: absolute;
    pointer-events: none;
    scale: 0.9;
    translate: 0 -15px;
    opacity: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 4242;
    background-color: white;
    border-radius: 4px;
    border: 1px gray;
    transform-origin: top center;
    transition: scale 100ms ease-in-out, translate 250ms ease-in-out,
        opacity 200ms ease-in-out;
}

.muic-select-options-container[open] {
    pointer-events: all;
    scale: 1;
    translate: 0;
    opacity: 1;
}

.muic-select-options-item {
    cursor: pointer;
    user-select: none;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    transition: background-color 100ms ease-in;
}

.muic-select-options-item:hover {
    background-color: #ffdec2;
}

.muic-select-options-item[selected] {
    background-color: #ffdec2;
}

/* Selection */
.muic-select-selection {
    border: 1px black;
    border-radius: 4px;
    z-index: 4241;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 4px;
    padding: 4px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: relative;
    width: 100%;
    margin-bottom: 30px;

    transition: background-color 200ms ease-in-out;
}

.muic-select-selection:hover, .muic-select-selection[active] {
    background-color: #eaeaea;
}

.muic-select-selection-item {
    border-radius: 4px;
    background-color: #ffb06c;
    user-select: none;
    padding: 4px;
}

.muic-select-selection-item > span {
    margin-right: 4px;
}

.muic-select-selection-item.muic-empty-selection {
    background-color: transparent;
    opacity: 0.6;
}

.muic-select-clear-selection {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0, calc(100% + 4px));
    width: 80px;
}

.muic-select-options-search, .muic-select-options-actions {
    display: flex;
    padding: 4px;
}

.muic-select-options-search > input {
    flex-grow: 1;
}

.muic-select-options-actions {
    gap: 4px;
    justify-content: end;
    flex-wrap: wrap;
}

    .muic-select-options-actions > button {
        flex-grow: 1;
        width: 130px;
        max-width: 130px;
    }
